{%- assign upsell_handles = '' -%}
{%- for tag in product.tags -%}
  {%- if tag contains 'upsell__' -%}
    {%- assign u_handle = tag | split: '__' | last -%}
    {%- assign upsell_handles = upsell_handles | append: u_handle | append: ',' -%}
  {%- endif -%}
{%- endfor -%}
{%- assign upsell_handles = upsell_handles | split: ',' | uniq -%}

{%- if section.settings.enable_product_upselling and upsell_handles.size > 0 -%}
  <div class="mm-upsell">
    {%- if section.settings.title != blank -%}
      <h1 class="mm-upsell__title {{ section.settings.heading_alignment }}">
        {{ section.settings.title | escape }}
      </h1>
    {%- endif -%}

    <div class="mm-upsell__products">
      {%- for handle in upsell_handles -%}
        {%- assign product = all_products[handle] -%}
        {%- render 'marmeto-product-item', product: product -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{% style %}
  .mm-upsell__title {
   color: {{ section.settings.heading_text_color }};
   }
{% endstyle %}

{% schema %}
 {
   "name": "Upsell Section",
"tag": "section",
   "settings": [
  {
       "type": "paragraph",
       "content": "Add upsell__{ product-handle } tag to your products to show the upsell items."
     },
  {
       "type": "checkbox",
       "id": "enable_product_upselling",
       "label": "Show upsell products",
       "default": true
     },
  {
       "type": "text",
       "id": "title",
       "label": "Heading",
       "default": "Upsell Products"
     },
     {
       "type": "color",
       "id": "heading_text_color",
       "label": "Heading Color",
       "default": "#000"
      },
     {
          "type": "select",
          "id": "heading_alignment",
          "label": "Heading alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            }, {
              "value": "text-center",
              "label": "Center"
            }, {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
      }
]
 }
{% endschema %}
