.collection-cards-container {
    max-width: 100vw;
  }

  .collage-card {
    width: 25%;
  }

  .product_image {
    position: relative;
  }

  .product-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }

  .product-info * {
    color: #000;
  }

  @media screen and (max-width: 549px) {
    .product__title {
    }
  }