footer {
  padding: 2rem 3rem 2rem 5rem;
}

.footer-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3.5rem;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin-left: -4rem;
}

.field__input {
  background: transparent;
  border-bottom: 2px solid #000;
}

.social-icons {
  gap: 2rem;
}

.social-icons > * {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.rule {
  display: none;
}

.footer-menu *, .payment-section * {
  color: #000;
}

.input__field-button {
  cursor: pointer;
  border: none;
}

.input__field-button:hover{
    background-color: #a9a9a9;
    border: none;
}

@media screen and (max-width: 749px) {
  footer {
  padding: 2rem 3rem;
   }
  
  .footer-blocks, payment-section {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .footer-blocks {
    margin-bottom: 3rem;
  }

  payment-section {
    margin-top: 5rem;
    align-items: center;
    row-gap: 2rem;
  }

  .rule{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}