.main--container {
  width: 100vw;
  padding: 1rem 9rem 1rem 13rem;
}

.logo-container {
}

.logo-container--items {
  padding: 1rem 0;
  column-gap: 7rem;
  /* FIXME: border-radius: 1.5rem; */
}

.logo_heading {
  width: 100%;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 990px) {
  .tab-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .mob-grid{
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 25px;
  }
  .logo_heading{
      padding: 0 25px;
  }

  .image__block {
    position: relative;
    right: 4rem;
  }
}

.image__block{
  width: 20rem;
  height: 20rem;
}