.register_form_container {
    margin: 4rem 0;
  }

  .first_name, .last_name, .email, .password {
    border-width: 0 0 1px 0;
    outline: none;
    padding-right: 10rem;
  }

  .craete_account_button {
    width: 85%;
    padding: 0.8rem 0;
    margin-top: 1.5rem;
    text-transform: uppercase;
    background-color: #37302c;
    color: #fff;
    border: none;
  }

  .login_button {
    width: 85%;
    padding: 0.8rem 0;
    margin-top: 1.5rem;
    text-transform: uppercase;
    background-color: #37302c;
    color: #fff;
    border: none;
  }

  .login_button:hover, .craete_account_button:hover {
    background: #a9a9a9;
  }